In [3]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install tensorflow

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import itertools
import utils

'import numpy as np\nimport pandas as pd\nimport matplotlib.pyplot as plt\nfrom sklearn.model_selection import train_test_split\nimport itertools\nimport utils'

In [4]:
#Preprocess red wine
url= "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
df_red= pd.read_csv(url, sep= ";")
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [6]:
# Check for null values in each column
null_values = df_red.isnull().sum()
print("Null values in each column:")
print(null_values)

Null values in each column:
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [10]:
#fill is_red columns with ones
df_red["is_red"]= 1
df_red=df_red.drop_duplicates(keep="first")

In [ ]:
utils.test_df_red(df_red)

In [ ]:
print(df_red.alcohol[0])
print(df_red.alcohol[100])

In [ ]:
#Preprocess white wine

url2= "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv"
df_white = pd.read_csv(url2, sep=";" )
df_white.head()

'url2= "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv"\ndf_white = pd.read_csv(url2, sep=";" )\ndf_white.head()'

In [9]:
null_values = df_white.isnull().sum()
print("Null values in each column:")
print(null_values)

Null values in each column:
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
#fill is_red columns with zeros
df_white["is_red"]= 1
df_white=df_white.drop_duplicates(keep="first")

'df_white["is_red"]= 1\ndf_white=df_white.drop_duplicates(keep="first")'

In [ ]:
utils.test_df_white(df_white)

In [ ]:
print(df_white.alcohol[0])
print(df_white.alcohol[100])

'print(df_white.alcohol[0])\nprint(df_white.alcohol[100])'

In [ ]:
df= pd.concat([df_red, df_white], ignore_index= True)
print(df.alcohol[0])
print(df.alcohol[100])

In [ ]:
#remove outliers

target= "quality"
Q1,Q3= np.percentile(df[target], q=25), np.percentile(df[target], q=75)
outlier_range= 1.5*(Q3-Q1)
num_data = df[((df["quality"] < (Q1 - outlier_range)) | (df["quality"] > (Q3 + outlier_range)))].shape[0]
data = df[~((df["quality"] < (Q1 - outlier_range)) | (df["quality"] > (Q3 + outlier_range)))].reset_index(drop = True)
print("Number of outliers removed: ", num_data)

Number of outliers removed:  28

In [37]:
#Update target variable from Numeric to Binary
df["quality"]= 1*(df["quality"]>5)
df[["quality"]].head()

   quality
0        0
1        0
2        0
3        1
4        0

In [ ]:
df["quality"].hist(bins=20) #to check if the data is now balanced

#in case the data is unbalanced 
'''df = df[(df["quality"]>4) & (df['quality']<8)]
df = df>reset_index(drop= True)
utils.test_df_drop(df)
print(df.alcohol[0])
print(df.alcohol[100])'''

#plot again to mAKE SURE the data is now balanced
#df['quality'].hist(bins=20)